.footer {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 260px;
  /* border: 1px solid red; */
  color: white;
  background-color: black;
}
.innerDiv {
  width: 87%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
}

.footerUpper,
.footerDown {
  width: 100%;
  display: flex;
  justify-content: space-between;

  /* border: 1px solid rgb(0, 70, 128); */
  border-bottom: 1px solid white;
}
.footerUpper {
  height: 160px;
  align-items: center;
}
.footerDown {
  margin-top: 30px;
  height: 70px;
  align-items: start;
}
.footerUpperLeft {
  /* margin-left: 9vw; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerUpperLeft img {
  margin-right: 2vw;
}
.footerUpperLeft p {
  padding-left: 2vw;
  border-left: 1px solid white;
}
.footerUpperright,
.footerDownRight,
.footerDownLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
  /* padding-right: 9vw; */
}
